.lago-hot-deals-carousel-wrapper {
  .swiper-slide {
    transition: transform 0.3s ease;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      position: relative;
      background: #fff;

      // Default bullet style
      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        z-index: $z-index-floor-one;
      }

      // Background circle
      &::before {
        width: 1rem;
        height: 1rem;
        top: 0.25rem;
        left: 0.25rem;
        background: $border-color;
      }

      // White outer circle
      &::after {
        width: 1.75rem;
        height: 1.75rem;
        top: -0.125rem;
        left: -0.125rem;
        background: #fff;
        z-index: $z-index-ground;
      }

      // Style for inactive bullets
      &:not(.swiper-pagination-bullet-active) {
        opacity: 1;
        background: $border-color;
      }

      // Style for active bullet
      &.swiper-pagination-bullet-active {
        &::before {
          background: $accent-color;
        }
      }
    }

    // Separator line after pagination bullets
    &::after {
      content: '';
      height: 0.5px;
      width: 30%;
      position: absolute;
      top: 0.75rem;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.3;
      background: $muted-text-color;
      z-index: $z-index-basement-one;
    }
  }
}
