.tour-detail-lago {
  .tour-detail-main-info {
    display: flex;
    flex-wrap: wrap;
  }

  .tour-detail-image-wrapper {
    position: relative;
    width: 50%;

    @media (max-width: $breakpoint-lg) {
      width: 90%;
      margin: 0 auto;
      .aspect-ratio-container {
        img {
          border-radius: 10px;
        }
      }
    }
    .aspect-ratio-container {
      img {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    img {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
  }
  .tour-detail-book-now {
    flex: 1;
    padding: 1.5rem 3.5rem;
    .location-label {
      display: flex;
      align-items: center;
      margin-left: -0.25rem;
      span {
        color: $text-danger;
        font-weight: $bold-font-weight;
      }
    }
    .travel-code {
      color: $muted-text-color;
      font-weight: $bold-font-weight;
    }
    .rating {
      display: flex;
      align-items: center;
      padding-bottom: 2rem;
      padding-left: 37%;
      @media (max-width: $breakpoint-lg) {
        padding-left: 0;
        justify-content: flex-end;
      }
      p {
        color: $rating-color;
        font-weight: $bold-font-weight;
        padding-top: 6px;
      }
      span {
        text-decoration: underline;
        color: $muted-text-color;
        font-weight: $bold-font-weight;
        margin-left: .5rem;
      }
    }
    .pricing {
      padding-top: 3rem;
      span {
        color: $muted-text-color;
        font-weight: $bold-font-weight;
      }
      h4 {
        color: $primary-color;
        sup {
          color: $text-danger;
          text-decoration: line-through;
          opacity: .8;
          font-size: $font-body;
        }
      }
      .option {
        strong {
          color: $primary-color;
          font-style: normal;
        }
        color: $muted-text-color;
        font-style: italic;
      }
      .book-now-info {
        color: $book-now-color;
        font-weight: $bold-font-weight;
        sup {
          color: $text-danger;
          text-decoration: underline;
          font-style: italic;
          opacity: .8;
        }
      }
    }
    .button-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 2rem;
      .primary-button {
        min-width: 141px;
        padding: .5rem 2rem;
      }
    }
  }

  .tour-detail-additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 4rem;
    .additional-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &.not-active {
        opacity: .6;
      }
      p {
        color: $book-now-color;
        font-weight: $bold-font-weight;
      }
      span {
        font-weight: $bold-font-weight;
      }
      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $book-now-color;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .tour-detail-extra {
    .tour-detail-panel {
      padding: 1rem;
      margin-left: 10rem;
    }
  }
}