.demo-see-more-articles {
  padding-top: 4rem;
  padding-bottom: 4rem;
  h3 {
    font-weight: $heading-font-weight;
    color: $accent-color;
    text-align: center;
  }
  h5 {
    font-family: $secondary-font;
    font-weight: $text-font-weight;
    text-align: center;
  }
  .group {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    .item {
      width: 350px;
      .excerpt {
        span{
          display: block;
          margin-bottom: 1rem;
        }

        a {
          text-decoration-thickness: 1px !important;
          text-decoration-line: underline !important;
          color: $primary-color;
        }
      }
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  .primary-button.outline-demo {
    padding: .5rem 2rem;
  }
}