@import '@rave-ui/elements/drawer/styles.scss';
@import '@rave-ui/elements/select/styles.scss';

@import '@elements/banner-carousel/styles.scss';
@import '@elements/destination-carousel/styles.scss';
@import '@elements/collapse/styles.scss';

@import 'swiper/scss';
@import 'swiper/css/navigation';

.rotate-element {
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}

.rotate-element.on {
  transition: transform 0.2s ease;
  transform: rotate(180deg);
}
