#generic-collapse-container {
  .generic-collapse-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
  }
  .generic-collapse-panel {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}
