.lago-content-background {
  position: relative;

  .content {
    text-align: center;
    h6, h3, p {
      color: #fff;
    }

    h6 {
      font-family: $secondary-font;
    }

    h3 {
      font-weight: $bold-font-weight;
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;

      .primary-button {
        padding: 1rem 1.75rem;

        p {
          font-weight: $bold-font-weight;
        }
      }
    }
  }
}
